# git / environment variables
.git
.env
# astro
astro
# airflow 
airflow_settings.yaml
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
# python
__pycache__/
/venv/
.venv
# VS Code Settings
.vscode/
# macOS specific
.DS_Store 